/*Non Univoche*/
/*Riga 1*/
/*1_1*/
/* The Modal (background) */
#myImg_1_1 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#myImg_1_1:hover {opacity: 0.7;}

/* Caption of Modal Image */
#caption_1_1 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content_1_1, #caption_1_1 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* Modal Content (image) */
.modal-content_1_1 {
    margin: auto;
    display: block;
    width: 75%;
    max-width: 75%;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content_1_1 {
        width: 100%;
    }
}

.modal_1_1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.out_1_1 {
  animation-name: zoom-out_1_1;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom_1_1 {
    from {-webkit-transform:scale(1)}
    to {-webkit-transform:scale(2)}
}

@keyframes zoom_1_1 {
    from {transform:scale(0.4)}
    to {transform:scale(1)}
}

@keyframes zoom-out_1_1 {
    from {transform:scale(1)}
    to {transform:scale(0)}
}

/* The Close Button */
.close_1_1 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close_1_1:hover,
.close_1_1:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*1_2*/
/* The Modal (background) */
#myImg_1_2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#myImg_1_2:hover {opacity: 0.7;}

/* Caption of Modal Image */
#caption_1_2 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content_1_2, #caption_1_2 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* Modal Content (image) */
.modal-content_1_2 {
    margin: auto;
    display: block;
    width: 75%;
    max-width: 75%;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content_1_2 {
        width: 100%;
    }
}

.modal_1_2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.out_1_2 {
  animation-name: zoom-out_1_2;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom_1_2 {
    from {-webkit-transform:scale(1)}
    to {-webkit-transform:scale(2)}
}

@keyframes zoom_1_2 {
    from {transform:scale(0.4)}
    to {transform:scale(1)}
}

@keyframes zoom-out_1_2 {
    from {transform:scale(1)}
    to {transform:scale(0)}
}

/* The Close Button */
.close_1_2 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close_1_2:hover,
.close_1_2:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*1_3*/
/* The Modal (background) */
#myImg_1_3 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#myImg_1_3:hover {opacity: 0.7;}

/* Caption of Modal Image */
#caption_1_3 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content_1_3, #caption_1_3 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* Modal Content (image) */
.modal-content_1_3 {
    margin: auto;
    display: block;
    width: 75%;
    max-width: 75%;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content_1_3 {
        width: 100%;
    }
}

.modal_1_3 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.out_1_3 {
  animation-name: zoom-out_1_3;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom_1_3 {
    from {-webkit-transform:scale(1)}
    to {-webkit-transform:scale(2)}
}

@keyframes zoom_1_3 {
    from {transform:scale(0.4)}
    to {transform:scale(1)}
}

@keyframes zoom-out_1_3 {
    from {transform:scale(1)}
    to {transform:scale(0)}
}

/* The Close Button */
.close_1_3 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close_1_3:hover,
.close_1_3:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*Riga 2*/
/*2_1*/
/* The Modal (background) */
#myImg_2_1 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#myImg_2_1:hover {opacity: 0.7;}

/* Caption of Modal Image */
#caption_2_1 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content_2_1, #caption_2_1 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* Modal Content (image) */
.modal-content_2_1 {
    margin: auto;
    display: block;
    width: 75%;
    max-width: 75%;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content_2_1 {
        width: 100%;
    }
}

.modal_2_1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.out_2_1 {
  animation-name: zoom-out_2_1;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom_2_1 {
    from {-webkit-transform:scale(1)}
    to {-webkit-transform:scale(2)}
}

@keyframes zoom_2_1 {
    from {transform:scale(0.4)}
    to {transform:scale(1)}
}

@keyframes zoom-out_2_1 {
    from {transform:scale(1)}
    to {transform:scale(0)}
}

/* The Close Button */
.close_2_1 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close_2_1:hover,
.close_2_1:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*2_2*/
/* The Modal (background) */
#myImg_2_2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#myImg_2_2:hover {opacity: 0.7;}

/* Caption of Modal Image */
#caption_2_2 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content_2_2, #caption_2_2 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* Modal Content (image) */
.modal-content_2_2 {
    margin: auto;
    display: block;
    width: 75%;
    max-width: 75%;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content_2_2 {
        width: 100%;
    }
}

.modal_2_2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.out_2_2 {
  animation-name: zoom-out_2_2;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom_2_2 {
    from {-webkit-transform:scale(1)}
    to {-webkit-transform:scale(2)}
}

@keyframes zoom_2_2 {
    from {transform:scale(0.4)}
    to {transform:scale(1)}
}

@keyframes zoom-out_2_2 {
    from {transform:scale(1)}
    to {transform:scale(0)}
}

/* The Close Button */
.close_2_2 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close_2_2:hover,
.close_2_2:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*2_3*/
/* The Modal (background) */
#myImg_2_3 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#myImg_2_3:hover {opacity: 0.7;}

/* Caption of Modal Image */
#caption_2_3 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content_2_3, #caption_2_3 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* Modal Content (image) */
.modal-content_2_3 {
    margin: auto;
    display: block;
    width: 75%;
    max-width: 75%;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content_2_3 {
        width: 100%;
    }
}

.modal_2_3 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.out_2_3 {
  animation-name: zoom-out_2_3;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom_2_3 {
    from {-webkit-transform:scale(1)}
    to {-webkit-transform:scale(2)}
}

@keyframes zoom_2_3 {
    from {transform:scale(0.4)}
    to {transform:scale(1)}
}

@keyframes zoom-out_2_3 {
    from {transform:scale(1)}
    to {transform:scale(0)}
}

/* The Close Button */
.close_2_3 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close_2_3:hover,
.close_2_3:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/*Riga 3*/
/*3_1*/
/* The Modal (background) */
#myImg_3_1 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#myImg_3_1:hover {opacity: 0.7;}

/* Caption of Modal Image */
#caption_3_1 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content_3_1, #caption_3_1 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* Modal Content (image) */
.modal-content_3_1 {
    margin: auto;
    display: block;
    width: 75%;
    max-width: 75%;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content_3_1 {
        width: 100%;
    }
}

.modal_3_1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.out_3_1 {
  animation-name: zoom-out_3_1;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom_3_1 {
    from {-webkit-transform:scale(1)}
    to {-webkit-transform:scale(2)}
}

@keyframes zoom_3_1 {
    from {transform:scale(0.4)}
    to {transform:scale(1)}
}

@keyframes zoom-out_3_1 {
    from {transform:scale(1)}
    to {transform:scale(0)}
}

/* The Close Button */
.close_3_1 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close_3_1:hover,
.close_3_1:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*3_2*/
/* The Modal (background) */
#myImg_3_2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#myImg_3_2:hover {opacity: 0.7;}

/* Caption of Modal Image */
#caption_3_2 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content_3_2, #caption_3_2 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* Modal Content (image) */
.modal-content_3_2 {
    margin: auto;
    display: block;
    width: 75%;
    max-width: 75%;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content_3_2 {
        width: 100%;
    }
}

.modal_3_2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.out_3_2 {
  animation-name: zoom-out_3_2;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom_3_2 {
    from {-webkit-transform:scale(1)}
    to {-webkit-transform:scale(2)}
}

@keyframes zoom_3_2 {
    from {transform:scale(0.4)}
    to {transform:scale(1)}
}

@keyframes zoom-out_3_2 {
    from {transform:scale(1)}
    to {transform:scale(0)}
}

/* The Close Button */
.close_3_2 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close_3_2:hover,
.close_3_2:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*3_3*/
/* The Modal (background) */
#myImg_3_3 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#myImg_3_3:hover {opacity: 0.7;}

/* Caption of Modal Image */
#caption_3_3 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content_3_3, #caption_3_3 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* Modal Content (image) */
.modal-content_3_3 {
    margin: auto;
    display: block;
    width: 75%;
    max-width: 75%;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content_3_3 {
        width: 100%;
    }
}

.modal_3_3 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.out_3_3 {
  animation-name: zoom-out_3_3;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom_3_3 {
    from {-webkit-transform:scale(1)}
    to {-webkit-transform:scale(2)}
}

@keyframes zoom_3_3 {
    from {transform:scale(0.4)}
    to {transform:scale(1)}
}

@keyframes zoom-out_3_3 {
    from {transform:scale(1)}
    to {transform:scale(0)}
}

/* The Close Button */
.close_3_3 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close_3_3:hover,
.close_3_3:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*4_1*/
/* The Modal (background) */
#myImg_4_1 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#myImg_4_1:hover {opacity: 0.7;}

/* Caption of Modal Image */
#caption_4_1 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content_4_1, #caption_4_1 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* Modal Content (image) */
.modal-content_4_1 {
    margin: auto;
    display: block;
    width: 75%;
    max-width: 75%;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content_4_1 {
        width: 100%;
    }
}

.modal_4_1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.out_4_1 {
  animation-name: zoom-out_4_1;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom_4_1 {
    from {-webkit-transform:scale(1)}
    to {-webkit-transform:scale(2)}
}

@keyframes zoom_4_1 {
    from {transform:scale(0.4)}
    to {transform:scale(1)}
}

@keyframes zoom-out_4_1 {
    from {transform:scale(1)}
    to {transform:scale(0)}
}

/* The Close Button */
.close_4_1 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close_4_1:hover,
.close_4_1:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/*4_2*/
/* The Modal (background) */
#myImg_4_2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#myImg_4_2:hover {opacity: 0.7;}

/* Caption of Modal Image */
#caption_4_2 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content_4_2, #caption_4_2 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* Modal Content (image) */
.modal-content_4_2 {
    margin: auto;
    display: block;
    width: 75%;
    max-width: 75%;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content_4_2 {
        width: 100%;
    }
}

.modal_4_2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.out_4_2 {
  animation-name: zoom-out_4_1;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom_4_2 {
    from {-webkit-transform:scale(1)}
    to {-webkit-transform:scale(2)}
}

@keyframes zoom_4_2 {
    from {transform:scale(0.4)}
    to {transform:scale(1)}
}

@keyframes zoom-out_4_2 {
    from {transform:scale(1)}
    to {transform:scale(0)}
}

/* The Close Button */
.close_4_2 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close_4_2:hover,
.close_4_2:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/*----------------------------------------------------------------------------------------*/
/*partner 0.5*/
/*Riga 1*/
/*05_1_1*/
/* The Modal (background) */
#myImg_05_1_1 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#myImg_05_1_1:hover {opacity: 0.7;}

/* Caption of Modal Image */
#caption_05_1_1 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content_05_1_1, #caption_05_1_1 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* Modal Content (image) */
.modal-content_05_1_1 {
    margin: auto;
    display: block;
    width: 75%;
    max-width: 75%;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content_05_1_1 {
        width: 100%;
    }
}

.modal_05_1_1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.out_05_1_1 {
  animation-name: zoom-out_05_1_1;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom_05_1_1 {
    from {-webkit-transform:scale(1)}
    to {-webkit-transform:scale(2)}
}

@keyframes zoom_05_1_1 {
    from {transform:scale(0.4)}
    to {transform:scale(1)}
}

@keyframes zoom-out_05_1_1 {
    from {transform:scale(1)}
    to {transform:scale(0)}
}

/* The Close Button */
.close_05_1_1 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close_05_1_1:hover,
.close_05_1_1:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*05_1_2*/
/* The Modal (background) */
#myImg_05_1_2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#myImg_05_1_2:hover {opacity: 0.7;}

/* Caption of Modal Image */
#caption_05_1_2 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content_05_1_2, #caption_05_1_2 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* Modal Content (image) */
.modal-content_05_1_2 {
    margin: auto;
    display: block;
    width: 75%;
    max-width: 75%;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content_05_1_2 {
        width: 100%;
    }
}

.modal_05_1_2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.out_05_1_2 {
  animation-name: zoom-out_05_1_2;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom_05_1_2 {
    from {-webkit-transform:scale(1)}
    to {-webkit-transform:scale(2)}
}

@keyframes zoom_05_1_2 {
    from {transform:scale(0.4)}
    to {transform:scale(1)}
}

@keyframes zoom-out_05_1_2 {
    from {transform:scale(1)}
    to {transform:scale(0)}
}

/* The Close Button */
.close_05_1_2 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close_05_1_2:hover,
.close_05_1_2:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*05_1_3*/
/* The Modal (background) */
#myImg_05_1_3 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#myImg_05_1_3:hover {opacity: 0.7;}

/* Caption of Modal Image */
#caption_05_1_3 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content_05_1_3, #caption_05_1_3 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* Modal Content (image) */
.modal-content_05_1_3 {
    margin: auto;
    display: block;
    width: 75%;
    max-width: 75%;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content_05_1_3 {
        width: 100%;
    }
}

.modal_05_1_3 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.out_05_1_3 {
  animation-name: zoom-out_05_1_3;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom_05_1_3 {
    from {-webkit-transform:scale(1)}
    to {-webkit-transform:scale(2)}
}

@keyframes zoom_05_1_3 {
    from {transform:scale(0.4)}
    to {transform:scale(1)}
}

@keyframes zoom-out_05_1_3 {
    from {transform:scale(1)}
    to {transform:scale(0)}
}

/* The Close Button */
.close_05_1_3 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close_05_1_3:hover,
.close_05_1_3:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*05_1_4*/
/* The Modal (background) */
#myImg_05_1_4 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#myImg_05_1_4:hover {opacity: 0.7;}

/* Caption of Modal Image */
#caption_05_1_4 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content_05_1_4, #caption_05_1_4 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* Modal Content (image) */
.modal-content_05_1_4 {
    margin: auto;
    display: block;
    width: 75%;
    max-width: 75%;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content_05_1_4 {
        width: 100%;
    }
}

.modal_05_1_4 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.out_05_1_4 {
  animation-name: zoom-out_05_1_4;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom_05_1_4 {
    from {-webkit-transform:scale(1)}
    to {-webkit-transform:scale(2)}
}

@keyframes zoom_05_1_4 {
    from {transform:scale(0.4)}
    to {transform:scale(1)}
}

@keyframes zoom-out_05_1_4 {
    from {transform:scale(1)}
    to {transform:scale(0)}
}

/* The Close Button */
.close_05_1_4 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close_05_1_4:hover,
.close_05_1_4:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*Riga 2*/
/*05_2_1*/
/* The Modal (background) */
#myImg_05_1_1 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#myImg_05_2_1:hover {opacity: 0.7;}

/* Caption of Modal Image */
#caption_05_2_1 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content_05_2_1, #caption_05_2_1 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* Modal Content (image) */
.modal-content_05_2_1 {
    margin: auto;
    display: block;
    width: 75%;
    max-width: 75%;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content_05_2_1 {
        width: 100%;
    }
}

.modal_05_2_1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.out_05_2_1 {
  animation-name: zoom-out_05_2_1;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom_05_2_1 {
    from {-webkit-transform:scale(1)}
    to {-webkit-transform:scale(2)}
}

@keyframes zoom_05_2_1 {
    from {transform:scale(0.4)}
    to {transform:scale(1)}
}

@keyframes zoom-out_05_2_1 {
    from {transform:scale(1)}
    to {transform:scale(0)}
}

/* The Close Button */
.close_05_2_1 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close_05_2_1:hover,
.close_05_2_1:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*05_2_2*/
/* The Modal (background) */
#myImg_05_2_2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#myImg_05_2_2:hover {opacity: 0.7;}

/* Caption of Modal Image */
#caption_05_2_2 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content_05_2_2, #caption_05_2_2 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* Modal Content (image) */
.modal-content_05_2_2 {
    margin: auto;
    display: block;
    width: 75%;
    max-width: 75%;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content_05_2_2 {
        width: 100%;
    }
}

.modal_05_2_2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.out_05_2_2 {
  animation-name: zoom-out_05_2_2;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom_05_2_2 {
    from {-webkit-transform:scale(1)}
    to {-webkit-transform:scale(2)}
}

@keyframes zoom_05_2_2 {
    from {transform:scale(0.4)}
    to {transform:scale(1)}
}

@keyframes zoom-out_05_2_2 {
    from {transform:scale(1)}
    to {transform:scale(0)}
}

/* The Close Button */
.close_05_2_2 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close_05_2_2:hover,
.close_05_2_2:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 05_2_3 */
/* The Modal (background) */
#myImg_05_2_3 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#myImg_05_2_3:hover {opacity: 0.7;}

/* Caption of Modal Image */
#caption_05_2_3 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content_05_2_3, #caption_05_2_3 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* Modal Content (image) */
.modal-content_05_2_3 {
    margin: auto;
    display: block;
    width: 75%;
    max-width: 75%;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content_05_2_3 {
        width: 100%;
    }
}

.modal_05_2_3 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.out_05_2_3 {
  animation-name: zoom-out_05_2_3;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom_05_2_3 {
    from {-webkit-transform:scale(1)}
    to {-webkit-transform:scale(2)}
}

@keyframes zoom_05_2_3 {
    from {transform:scale(0.4)}
    to {transform:scale(1)}
}

@keyframes zoom-out_05_2_3 {
    from {transform:scale(1)}
    to {transform:scale(0)}
}

/* The Close Button */
.close_05_2_3 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close_05_2_3:hover,
.close_05_2_3:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*05_2_4*/
/* The Modal (background) */
#myImg_05_2_4 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#myImg_05_2_4:hover {opacity: 0.7;}

/* Caption of Modal Image */
#caption_05_2_4 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content_05_2_4, #caption_05_2_4 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* Modal Content (image) */
.modal-content_05_2_4 {
    margin: auto;
    display: block;
    width: 75%;
    max-width: 75%;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content_05_2_4 {
        width: 100%;
    }
}

.modal_05_2_4 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.out_05_2_4 {
  animation-name: zoom-out_05_2_4;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom_05_2_4 {
    from {-webkit-transform:scale(1)}
    to {-webkit-transform:scale(2)}
}

@keyframes zoom_05_2_4 {
    from {transform:scale(0.4)}
    to {transform:scale(1)}
}

@keyframes zoom-out_05_2_4 {
    from {transform:scale(1)}
    to {transform:scale(0)}
}

/* The Close Button */
.close_05_2_4 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close_05_2_4:hover,
.close_05_2_4:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Riga3 */
/* 05_3_1 */
/* The Modal (background) */
#myImg_05_3_1 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#myImg_05_3_1:hover {opacity: 0.7;}

/* Caption of Modal Image */
#caption_05_3_1 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content_05_3_1, #caption_05_3_1 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* Modal Content (image) */
.modal-content_05_3_1 {
    margin: auto;
    display: block;
    width: 75%;
    max-width: 75%;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content_05_3_1 {
        width: 100%;
    }
}

.modal_05_3_1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.out_05_3_1 {
  animation-name: zoom-out_05_3_1;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom_05_3_1 {
    from {-webkit-transform:scale(1)}
    to {-webkit-transform:scale(2)}
}

@keyframes zoom_05_3_1 {
    from {transform:scale(0.4)}
    to {transform:scale(1)}
}

@keyframes zoom-out_05_3_1 {
    from {transform:scale(1)}
    to {transform:scale(0)}
}

/* The Close Button */
.close_05_3_1 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close_05_3_1:hover,
.close_05_3_1:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*----------------------------------------------------------------------------------------*/
/* The Modal (background) */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#myImg:hover {opacity: 0.7;}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 75%;
    max-width: 75%;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.out {
  animation-name: zoom-out;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(1)}
    to {-webkit-transform:scale(2)}
}

@keyframes zoom {
    from {transform:scale(0.4)}
    to {transform:scale(1)}
}

@keyframes zoom-out {
    from {transform:scale(1)}
    to {transform:scale(0)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

